{% extends "base.njk" %}

{% block titulo %} FilmBD - Inicio{% endblock %}

{% block contenido %}
<div class="text-center py-5">
    <h1>Bienvenido a FilmDB</h1>
    <p class="lead">Busca y descubre películas de tu cátalogo.</p>
</div>
{% endblock %}